@import 'base/variables';

*{
    font-family: "Museo Sans Cyrl" sans-serif;
}

.container{
    max-width: 942px;
    width: 100%;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/adventages';
@import 'blocks/titles'