.consultation{
    min-height: 680px;
    padding: 103px 0 108px 0;
    background: url('../../img/bg/form__bg.jpg') center (center/cover) no-repeat;
    &__descr{
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        max-width: 426px;
    }
}
